doctype html
html
    script.
        let uploadPath = "#{config['upload_path']}";
        let deletePath = "#{config['delete_path']}";
        let createFolderPath = "#{config['create_folder_path']}";
        let path = "#{path}"
    include ../includes/head.pug
    body.bg-background-color.text-color
        div.progress-bar-wrapper
            div#progress-bar.progress-bar
                div#progress.progress.bg-accent-color
        div.app-content-limiter.mx-auto.px-3.justify-center.flex.flex-col(style="margin-top: 3rem;")
            div(style="margin-bottom:2rem")
                a.text-color.text-lg.rounded-lg.px-3.py-1.bg-accent-color.poppins(href=`/${userSession ? 'logout' : 'login'}`)= userSession ? 'Logout' : 'Login'
            #modal-overlay-1.modal-overlay(style='display: none;')
                div.modal.bg-background-color.rounded-lg(style="text-align:center;")
                    div#modal-title.text-2xl.w-full.poppins
                        strong Are you sure ?
                    div#modal-content(style="margin-bottom: 1.75rem; margin-top: 1.75rem;")
                    div.flex.justify-center.poppins
                        button#cancel-button.text-color.text-2xl.rounded-lg.px-3.py-1.poppins(style="margin-right: 1rem; border: 1px solid var(--secondary-color);") Cancel
                        button#confirm-button.text-color.text-2xl.rounded-lg.px-3.py-1.bg-red.poppins(style="margin-left: 1rem") Delete
                    div#modal-error.text-red(style="margin-top: 1rem; display:none;")
            div.text-3xl.poppins.text-color(style="margin-bottom:4rem")
                | Index of&nbsp
                a.underline(href=`/`) /
                - const parts = path.split('/').filter(p => p)
                each directory, index in parts
                    if index !==0
                        |/
                    a.underline(href=`${'./'.repeat(parts.length - index - 1)}`)
                        | #{directory}#{"\u200B"}

            div.flex.justify-between(style="margin-bottom: 0.5rem; padding-left:4px; padding-right:4px")
                div
                    button#select-all-button(type="button" style="margin-right: 1rem" title="Select ")
                        img(
                            src=`${config['static_path']}/icons/square-check-regular.svg`
                            height="25"
                            width="25"
                        )
                    button#delete-button(type="button" style="margin-right: 1rem" title="Delete")
                        img(
                            src=`${config['static_path']}/icons/trash-can-solid.svg`
                            height="25"
                            width="25"
                        )
                    button#create-folder-button(type="button" style="margin-right: 1rem" title="Create folder")
                        img#create-folder-icon(
                            src=`${config['static_path']}/icons/folder-plus-solid.svg`
                            height="25"
                            width="25"
                        )
                div.flex.items-center
                    button#abort-button.text-color.text-base.rounded-lg.px-3.py-1.bg-red.poppins.disabled(style="margin-right: 1rem;") Abort
                    label(title="Upload" for="file-input" style="cursor:pointer;")
                        img(
                            src=`${config['static_path']}/icons/upload-solid.svg`
                            height="25"
                            width="25"
                        )
                    input#file-input(type="file" style="display:none;" multiple="true")
            #directory-content.dir-content.rounded-lg
                table
                    tbody
                        if directory.parent !== null
                            tr
                                td(style="width:0;")
                                td(style="width:0")
                                    a(href=`./`)
                                        img#parent-dir-icon(
                                            src=`${config['static_path']}/icons/folder-open-solid.svg`
                                            height="20"
                                            width="20"
                                        )
                                td
                                    a(href=`./`).text-lg ..
                        tr#folder-creation-row(style="display:none;")
                            td(style="width:0;")
                            td(style="width:0;")
                                img(
                                    src=`${config['static_path']}/icons/${entity.isFile() ? "file-solid.svg" : "folder-solid.svg"}`
                                    height="20"
                                    width="20"
                                )
                            td(style="width:0;")
                                input#folder-creation-input.folder-creation.bg-background-color.rounded-lg.text-color.text-base.p-2(
                                    type='text'
                                    name='username'
                                    spellcheck="false"
                                    maxlength="100"
                                    minlength="1"
                                    required
                                    autofucus
                                )
                            td
                                button#folder-creation-confirmation-button.text-color.text-base.rounded-lg.px-3.py-1.bg-accent-color.poppins Create

                        each entity in directory.content
                            tr(style="white-space:nowrap;")
                                td(style="width:0;")
                                    input.non-default.entity-checkbox(
                                        type='checkbox'
                                        style='height:19px;width:19px;'
                                        data-entity-name=`${entity.name}`
                                        data-is-file=`${entity.isFile()}`
                                        )
                                td(style="width:0;")
                                    a(
                                        href=`${path + (path === '/' ? '' : '/') + (entity.isDirectory() ? entity.name : entity.name)}`
                                        target=`${entity.isDirectory() ? '_self' : '_blank'}`
                                    )
                                        img(
                                            src=`${config['static_path']}/icons/${entity.isFile() ? "file-solid.svg" : "folder-solid.svg"}`
                                            height="20"
                                            width="20"
                                            )
                                td
                                    a.flex.items-center(
                                        href=`${path + (path === '/' ? '' : '/') + (entity.isDirectory() ? entity.name : entity.name)}`
                                        target=`${entity.isDirectory() ? '_self' : '_blank'}`
                                    ) #{entity.name}
                                        if entity.symbolicLink

                                            img(
                                                src=`${config['static_path']}/icons/link-solid.svg`
                                                height="15"
                                                width="15"
                                                style="margin-left:0.5rem;"
                                            )



                                if entity.isFile()
                                    td(style="text-align: center;")= toHumanSize(entity.size)
                                else
                                    td
                                td(style="text-align: right;")=  entity.birthtime.toLocaleString(config['date_format'])





    script
        include indexUtils.js

